<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/statics/style.css">
    <title>MUSIC Player</title>
</head>
<body>
    <div>
        <button>Home</button>
        <button>Player</button>
    </div>
    <div>
        <form action="/search" method="post">
            <input class="searchBar" type="text" name="searchbar" placeholder="Search for Your Song" value = "">
            <button type="submit">Search</button>
        </form>
    </div>

</body>
</html>