<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/statics/style.css">
    <title>MUSIC Player</title>
</head>
<body>
    <div class="nav-bar">
        <button class="nav-bar-buttons">Home</button>
        <button class = "nav-bar-buttons">Player</button>
    </div>
    <div class = "search-bar">
        <form action="/search" method="post">
            <input class="searchBar" type="text" name="searchbar" placeholder="Search for Your Song" value = "">
            <button class = "search-button" type="submit">
                <img src="../public/statics/icons8-search-64.png" alt="">
            </button>
        </form>
    </div>
    <div class="player">

    </div>

</body>
</html>